.img-container img{
    display: block;
    margin: auto;
    margin-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 767px){
.img-container img{
    display: block;
    margin-top: 50px;
    width: 500px;
    height: 500px;
    }
}
@media screen and (max-width: 500px){
    .img-container img{
        display: block;
        margin-top: 100px;
        width: 350px;
        height: 350px;
        }
    }